.App {
  font-family: 'Eaves';
  font-size: 35px;
  text-align: center;
  background-image: url('/bg-repeat.png');
  background-size: contain;
  color: #504343;
  padding-bottom: 70px;
}

svg {
  max-width: 100%;
}

svg g {
  fill: #504343;
}

.title {
  font-family: 'Paradise';
  font-size: 50px;
  display: flex;
  width: fit-content;
  margin: auto;

}

.title div {
  flex: 1 1 auto;
  padding: 0 15px;
}

.btns {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btns button {
  width: 50%;
  height: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Paradise";
  src: url("/fonts/Paradise.woff2") format("woff2"),
    url("/fonts/Paradise.woff") format("woff");
}

@font-face {
  font-family: "Eaves";
  src: url("/fonts/Eaves.woff2") format("woff2"),
    url("/fonts/Eaves.woff") format("woff");
}